.widget-content {
  padding: 3em 0;
  border-bottom: 1px solid #e6e6e6;
}

.widget-content h2 {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-bottom: 3em;
  display: inline-block;
}

.widget-content h2:after {
  background: #e6e6e6;
  height: 3px;
  width: 100%;
  content: " ";
  position: absolute;
  left: 0;
  bottom: -1.5em;
}

.btn-default {
  background-color: #3da3e1;
  text-transform: uppercase;
  color: #f2f2f2;
  font-family: "Lato", sans-serif;
  padding: 11px 45px;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 30px;
  -moz-background-clip: padding-box;
  border-radius: 30px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.btn-default:hover, .btn-default:focus {
  background: #4d86a9;
  color: #f2f2f2;
}
.btn-default:active {
  background: #4d86a9;
  color: #cccccc;
}

.logo #site-title {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: .5em;
  font-size: 2em;
  letter-spacing: 8px;
}

#site-title .small{
  margin-left: -44px;
}

.sub-logo #site-description {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: .7em;
  color: white;
  margin-top: 2em;
}
