.maps {
  position: relative;
}
.maps #js-map {
  min-height: 375px;
  width: 100%;
}
.maps .map-location {
  display: inline-block;
  min-width: 300px;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 15%;
}
.maps .map-location h2 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  margin-left: 1.1rem;
}
.maps .map-location ul {
  list-style-type: none;
}
.maps .map-location .title {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  margin-top: 1rem;
}
.maps .map-location a {
  color: #3da3e1;
}
.maps .map-location a:hover {
  color: #3da3e1;
}

@media all and (max-width: 480px) {
  .maps .map-location {
    left: 5%;
    min-width: 280px;
  }
}
