.sidebar_widgets aside h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  color: #666666;
  font-weight: 700;
  position: relative;
  margin-bottom: 1.8em;
  margin-top: 2.5em;
}
.sidebar_widgets aside h3:after {
  background: #e6e6e6;
  height: 2px;
  width: 30%;
  content: " ";
  position: absolute;
  left: 0;
  bottom: -.8em;
}
.sidebar_widgets aside ul {
  list-style-type: none;
  margin-left: 0;
}
.sidebar_widgets aside ul li {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 0;
}
.sidebar_widgets aside ul li a {
  font-weight: 400;
  color: #666666;
}
.sidebar_widgets aside ul li a:hover {
  color: #3da3e1;
}
.sidebar_widgets .widget_search label, .sidebar_widgets .widget_search input[type="submit"] {
  dispaly: none;
}
.sidebar_widgets .widget_search input[type="text"] {
  background: white url(images/search-btn.png) no-repeat 97% 12px;
  border: 1px solid #e6e6e6;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding-box;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
  padding: 10px 5px;
}
