.speakers ul li .avatar {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}
.speakers ul li .avatar img {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 215px;
  -moz-background-clip: padding-box;
  border-radius: 215px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.speakers ul li .avatar .social {
  display: none;
}
.speakers ul li .avatar:hover .social {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 215px;
  -moz-background-clip: padding-box;
  border-radius: 215px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6000000,endColorstr=#E6000000);
  zoom: 1;
}
.speakers ul li .avatar:hover .social a {
  color: #bfbfbf;
  margin: 0 10px;
}
.speakers ul li .avatar:hover .social a:hover {
  color: white;
}
.speakers ul li .avatar:hover .social a i.fa {
  margin-top: 48%;
  font-size: 1.4em;
}
.speakers ul .name a,
.speakers ul .company a {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.speakers ul .name a {
  color: #1a1a1a;
}
.speakers ul .name a:hover {
  color: black;
}
.speakers ul .company a {
  color: #b3b3b3;
  text-transform: uppercase;
}
.speakers ul .company a:hover {
  color: #666666;
}
.speakers .view-all-speakers {
  padding: 3em 0;
}
