=image_tag "blue-bg-03.jpg", class: 'bg animate', "anim-detached" => 'true'
.story
  %div
    %h2 Convocatoria.
    %h3 Envía tu propuesta...
    .flash-notice{ style: 'display: none;'}
      %p Su propuesta ha sido enviada correctamente.
    =render 'shared/form'
