.story
  #logo
    =image_tag "wdt-logo.png"
  %h2 Colima, Mex.
  %h3 Proxima sesion: 27 de Marzo 2014 en las Oficinas de Crowd Interactive
  %p Nuestra misión es crear una comunidad de tecnologia en el estado de Colima, apoyando el desarrollo y crecimiento, de nuestros desarrolladores, diseñadores y personas interesadas.
  =link_to 'https://twitter.com/webdevtalksmx', class: 'twitter-redirect' do
    =image_tag "twitter-bird.png"
    %p @webdevtalksmx
