%ul#nav
  %li.home
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Inicio
    =link_to 'home', '#home'
  %li.topics
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Temas del Mes
    =link_to 'tema', '#topics'
  %li.cfp
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Convocatoria
    =link_to 'cfp', '#cfp'
  %li.speakers
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Conferencistas
    =link_to 'conferencistas', '#speakers'
  %li.contact
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Contacto
    =link_to 'contacto', '#contact'
