%ul#nav
  %li.home
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Inicio
    %a{href: "#home"} home
  %li.topics
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Temas del Mes
    %a{href: "#topics"} temas
  %li.about
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Acerca de WDT
    %a{href: "#about"} about
  %li.cfp
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Convocatoria
    %a{href: "#cfp"} cfp
  %li.speakers
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Conferencistas
    %a{href: "#speakers"} speakers
  %li.contact
    %h1{style: "display: none; opacity: 0; left: 15px;"}
      %span Contacto
    %a{href: "#contact"} contact
