=image_tag "black-bg-04.jpg", class: 'bg animate', "anim-detached" => 'true'
.story
  %div
    %h2 Temas para esta session.
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula aliquam eros a tempus.
