=image_tag "black-bg-04.jpg", class: 'bg animate', "anim-detached" => 'true'
.story
  %div
    %h2 Temas del Mes.
    =image_tag "wdt-bubble-logo.png", class: 'logo animate', "anim-detached" => 'true'
    %ul
      %li
        .border-box
          %p 1
        %p Convocatoria Abierta
        =link_to 'por tu nombre aquí', '#speakers'
      %li
        .border-box
          %p 2
        %p Convocatoria Abierta
        =link_to 'por tu nombre aquí', '#speakers'
      %li
        .border-box
          %p 3
        %p Convocatoria Abierta
        =link_to 'por tu nombre aquí', '#speakers'
      %li
        .border-box
          %p 4
        %p Convocatoria Abierta
        =link_to 'por tu nombre aquí', '#speakers'
