.story
  #logo
    =image_tag "wdt-logo.png"
  %iframe{allowfullscreen: "", frameborder: "0", height: "315", src: "//www.youtube.com/embed/3kLz1Q0myiM", width: "560"}
  %h2 Próximo evento: Colima, Mex. 25 de Junio 2014
  =link_to 'https://twitter.com/webdevtalksmx', class: 'twitter-redirect' do
    =image_tag "twitter-bird.png"
  =link_to 'https://www.facebook.com/ColimaWebDevTalks', class: 'twitter-redirect' do
    =image_tag "facebook-plane-social.png"
  %a.arrow-wrap{href: "#topics"}
    %span.arrow
