.story
  .maps
    %iframe{frameborder: "0", height: "768", src: "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3766.4143063143297!2d-103.7105079!3d19.2643411!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84255ac1302c3677%3A0x9de571050b13255a!2sTangoSource+M%C3%A9xico!5e0!3m2!1ses-419!2s!4v1405445208675", style: "border:0", width: "1024"}

