.story
  .maps
    %iframe{frameborder: "0", height: "768", src: "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3766.467905268946!2d-103.71236199999998!3d19.262007999999987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84255ac0cb7baabd%3A0x49107047fc2c8c23!2sCrowd+Interactive!5e0!3m2!1ses-419!2smx!4v1401992012057", style: "border:0", width: "1024"}
