%ul.slide.slide-1.animate{"anim-detached" => "true"}
  %li
    =image_tag "speakers/thumb-0.jpg"
  %li
    =image_tag "speakers/thumb-1.jpg"
  %li
    =image_tag "speakers/thumb-2.jpg"
  %li
    =image_tag "speakers/thumb-3.jpg"
  %li
    =image_tag "speakers/thumb-4.jpg"
  %li
    =image_tag "speakers/thumb-5.jpg"
  %li
    =image_tag "speakers/thumb-6.jpg"
  %li
    =image_tag "speakers/thumb-7.jpg"
  %li
    =image_tag "speakers/thumb-8.jpg"
  %li
    =image_tag "speakers/thumb-0.jpg"
  %li
    =image_tag "speakers/thumb-1.jpg"
  %li
    =image_tag "speakers/thumb-2.jpg"
  %li
    =image_tag "speakers/thumb-3.jpg"
  %li
    =image_tag "speakers/thumb-4.jpg"
  %li
    =image_tag "speakers/thumb-5.jpg"
  %li
    =image_tag "speakers/thumb-6.jpg"
  %li
    =image_tag "speakers/thumb-7.jpg"
  %li
    =image_tag "speakers/thumb-8.jpg"
%ul.slide.slide-2.animate{"anim-detached" => "true"}
  %li
    =image_tag "speakers/thumb-9.jpg"
  %li
    =image_tag "speakers/thumb-10.jpg"
  %li
    =image_tag "speakers/thumb-11.jpg"
  %li
    =image_tag "speakers/thumb-12.jpg"
  %li
    =image_tag "speakers/thumb-13.jpg"
  %li
    =image_tag "speakers/thumb-14.jpg"
  %li
    =image_tag "speakers/thumb-15.jpg"
  %li
    =image_tag "speakers/thumb-16.jpg"
  %li
    =image_tag "speakers/thumb-17.jpg"
  %li
    =image_tag "speakers/thumb-9.jpg"
  %li
    =image_tag "speakers/thumb-10.jpg"
  %li
    =image_tag "speakers/thumb-11.jpg"
  %li
    =image_tag "speakers/thumb-12.jpg"
  %li
    =image_tag "speakers/thumb-13.jpg"
  %li
    =image_tag "speakers/thumb-14.jpg"
  %li
    =image_tag "speakers/thumb-15.jpg"
  %li
    =image_tag "speakers/thumb-16.jpg"
  %li
    =image_tag "speakers/thumb-17.jpg"
%ul.slide.slide-3.animate{"anim-detached" => "true"}
  %li
    =image_tag "speakers/thumb-18.jpg"
  %li
    =image_tag "speakers/thumb-19.jpg"
  %li
    =image_tag "speakers/thumb-20.jpg"
  %li
    =image_tag "speakers/thumb-21.jpg"
  %li
    =image_tag "speakers/thumb-22.jpg"
  %li
    =image_tag "speakers/thumb-23.jpg"
  %li
    =image_tag "speakers/thumb-24.jpg"
  %li
    =image_tag "speakers/thumb-25.jpg"
  %li
    =image_tag "speakers/thumb-26.jpg"
  %li
    =image_tag "speakers/thumb-18.jpg"
  %li
    =image_tag "speakers/thumb-19.jpg"
  %li
    =image_tag "speakers/thumb-20.jpg"
  %li
    =image_tag "speakers/thumb-21.jpg"
  %li
    =image_tag "speakers/thumb-22.jpg"
  %li
    =image_tag "speakers/thumb-23.jpg"
  %li
    =image_tag "speakers/thumb-24.jpg"
  %li
    =image_tag "speakers/thumb-25.jpg"
  %li
    =image_tag "speakers/thumb-26.jpg"
.story
  .box
  .speakers
    %h2 Conferencistas
    %p
      .border-box-big
        %p Pr贸ximamente
      .border-box-big
        %p Pr贸ximamente
      .border-box-big
        %p Pr贸ximamente
      .border-box-big
        %p Pr贸ximamente
