=image_tag "black-bg-04.jpg", class: 'bg animate', "anim-detached" => 'true'
.story
  %div
    =image_tag "wdt-bubble-logo.png", class: 'logo animate', "anim-detached" => 'true'
    %ul
      %li
        .border-box
          =image_tag 'nacho.jpeg'
        %p GoLang
        =link_to 'Ignacio Galindo', '#'
        =link_to '@joiggama', 'https://github.com/joiggama'
      %li
        .border-box
          =image_tag 'alex.jpeg'
        %p PHP
        =link_to 'Alejandro Espinoza', '#'
        =link_to '@alexesba', 'https://github.com/alexesba'
      %li
        .border-box
          =image_tag 'jefigo.png'
        %p C
        =link_to 'Jesus Figueroa', '#'
        =link_to '@jefigo', 'https://github.com/jefigo'
      %li
        .border-box
          =image_tag 'jona.jpeg'
        %p Javascript
        =link_to 'Jonatan Juarez', '#'
        =link_to '@jonamx', 'https://github.com/jonamx'
      %li
        .border-box
          =image_tag 'pardinas.jpeg'
        %p Ruby
        =link_to 'Jorge Pardinas', '#'
        =link_to '@jparbros', 'https://github.com/jparbros'
