=image_tag "black-bg-04.jpg", class: 'bg animate', "anim-detached" => 'true'
.story
  %div
    =image_tag "wdt-bubble-logo.png", class: 'logo animate', "anim-detached" => 'true'
    %ul
      - 4.times do
        %li
          .border-box
            =image_tag 'default_male_avatar.png'
          %p Convocatoria Abierta
          =link_to 'Tu nombre aquí', '#'
          =link_to 'Tu github aquí', '#'
