#mock-scroller
=render 'shared/menu_nav'
#content
  %section#story-home
    =render 'shared/home'
  %section#story-topics{"anim-pause" => "1000"}
    =render 'shared/topics'
  %section#story-about
    =render 'shared/about'
  %section#story-cfp
    =render 'shared/cfp'
  %section#story-speakers{"data-nav" => "Speakers"}
    =render 'shared/speakers'
  %section#story-contact{"anim-pause" => "500"}
    =render 'shared/contact'
