.main_menu.navbar-fixed
  .row
    .columns.small-12.medium-12.large-12
      .mb
        .navmobile
          a href='#'
        ul.nav-menu
          li.menuItem
            a href='#home'  Inicio
          li.menuItem
            a href='#speakers'  Ponentes
          li.menuItem
            a href='#schedule'  Temas
          li.menuItem
            a href='#partners'  Socios
          li.menuItem
            a href='#location'  Lugar
          ul.sub-menu
            li.menuItem
              a href='speakers.html'  Ponentes
            li.menuItem
              a href='partners.html'  Socios
          li.register
            a data-reveal-id='RegisterModal' href='#'  Registro
          li.cfp
            a href='#en'  CFP
/! Reveal Modals begin
#RegisterModal.reveal-modal.small data-reveal=''
  h3 Registro
  form
    .row
      .large-6.columns
        label
          | Nombre
          input placeholder='Nombre' type='text' /
      .large-6.columns
        label
          | Apellido
          input placeholder='Apellido' type='text' /
    .row
      .large-6.columns
        label
          | Email
          input placeholder='Email' type='text' /
      .large-6.columns
        label
          | Numero de Telefono
          input placeholder=('Numero de Telefono') type='text' /
    .row
      .large-6.columns
      .large-6.columns
        a.button.secondary.success class=('[ ]') data-reveal-id='ThankYou' href='#' role='button'  Registrar
  a.close-reveal-modal ×
//! Teaser
#home.banner
  .banner_bg data-stellar-background-ratio='0.2' style=('background-image: url("assets/bg_banner.jpg");')
  .row
    .colums.small-12.medium-12-large-12
      .center-content
        /! Site title
        .logo
          h1#site-title
            img src='assets/logo-curvas.png' /
        /! Site Description
        .sub-logo
          h2#site-description Aprendiendo y compartiendo
        /! Event Info
        .event-info
          ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
            li
              i.fa.fa-map-marker
              | Colima, Mexico
            li
              i.fa.fa-calendar
              | 10/12/2014
            li
              i.fa.fa-microphone
              | 4 Ponentes
            li
              i.fa.fa-ticket
              | 50 tickets
        h1 1 dia de inspiracion y educacion sobre desarrollo movil.
        h2
          | El 10 de Diciembre en Colima, MEX. En el CoCoWorking, La industria esta de regreso con otra interesante seleccion de platicas.
          br/
          | Ponentes que proveeran informacion, tips y diferentes caminos para hacer lo que hacemos.
        /! Social Links
        .row
          .large-6.small-centered.columns
            .event-social
              ul.small-block-grid-1.medium-block-grid-3.large-block-grid-3
                li
                  a href='https://twitter.com/webdevtalksmx'
                    i.fa.fa-twitter
                    | Twitter
                li
                  a href='https://www.facebook.com/ColimaWebDevTalks'
                    i.fa.fa-facebook
                    | Facebook
                li
                  a href='https://groups.google.com/forum/#!forum/webdevtalks'
                    i.fa.fa-google-plus
                    | Google Foro
/! Speakers
#speakers.speakers.widget-content
  .row
    .columns.small-12.medium-12.large-12
      .center-content
        h2 Ponentes
        div
          ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
            /! First Speaker
            li
              .avatar
                img alt='Avatar1' height='220' src='assets/avatar1.jpg' width='220' /
                /! Speaker media links
                .social
                  /! Speaker profile / blog url
                  a href='#' target='_blank'
                    i.fa.fa-user
                  /! Speaker Twitter URL
                  a href='https://twitter.com/christauziet'
                    i.fa.fa-twitter
                  /! Speaker Facebook URL
                  a href='#'
                    i.fa.fa-facebook
              .name
                a href='#' target='_blank'  Christophe Tauziet
              .company
                a href='http://tauziet.com/' target='_blank'  Facebook
            /! Second Speaker
            li
              .avatar
                img alt='Avatar1' height='220' src='assets/avatar2.jpg' width='220' /
                /! Speaker media links
                .social
                  /! Speaker profile / blog url
                  a href='#' target='_blank'
                    i.fa.fa-user
                  /! Speaker Twitter URL
                  a href='#' target='_blank'
                    i.fa.fa-twitter
                  /! Speaker Facebook URL
                  a href='https://www.facebook.com/victor.tihai' target='_blank'
                    i.fa.fa-facebook
              .name
                a href='http://victor.tihai.ca/' target='_blank'  Victor Tihai
              .company
                a href='http://bit.ly/14COeuj' target='_blank'  WPlook Studio
            /! Third Speaker
            li
              .avatar
                img alt='Avatar1' height='220' src='assets/avatar3.jpg' width='220' /
                /! Speaker media links
                .social
                  /! Speaker profile / blog url
                  a href='#' target='_blank'
                    i.fa.fa-user
                  /! Speaker Twitter URL
                  a href='#' target='_blank'
                    i.fa.fa-twitter
                  /! Speaker Facebook URL
                  a href='#' target='_blank'
                    i.fa.fa-facebook
              .name
                a href='#' target='_blank'  Anthony Garand
              .company
                a href='http://gradientcreates.com/' target='_blank'  Garand
            /! Fourth Speaker
            li
              .avatar
                img alt='Avatar1' height='220' src='assets/avatar4.jpg' width='220' /
                /! Speaker media links
                .social
                  /! Speaker profile / blog url
                  a href='#' target='_blank'
                    i.fa.fa-user
                  /! Speaker Twitter URL
                  a href='#' target='_blank'
                    i.fa.fa-twitter
                  /! Speaker Facebook URL
                  a href='#' target='_blank'
                    i.fa.fa-facebook
              .name
                a href='#' target='_blank'  Reza Qorbani
              .company
                a href='http://www.qorbani.com/' target='_blank'  Qorbani
        /! View all Speakers Button
        .view-all-speakers
          a.btn-default href='speakers.html'  VE A TODOS LOS PONENTES
/! Schedule
#schedule.schedule.widget-content
  .row
    .columns.small-12.medium-12.large-12
      .center-content
        h2 Agenda
      ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
        /! Past talks
        li
          .schedule-body
            .event-header
              .day
                | Evento pasado
              .title
                | Desarrollo Movil
            .content
              dl.accordion data-accordion=''
                dd.accordion-navigation
                  a href='#panel1'
                    img.avatar alt='avatar' height='60' src='assets/avatar1.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 08:00 - 08:30
                  .event-title.large-8 Introduction
                  span.clear
                  #panel1.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                dd.accordion-navigation
                  a href='#panel2'
                    img.avatar alt='avatar' height='60' src='assets/avatar2.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 09:00 - 10:45
                  .event-title.large-8 Planning
                  #panel2.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                dd.accordion-navigation
                  a href='#panel3'
                    img.avatar alt='avatar' height='60' src='assets/avatar3.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 13:00 - 14:30
                  .event-title.large-8 Prototyping
                  #panel3.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                dd.accordion-navigation
                  a href='#panel4'
                    img.avatar alt='avatar' height='60' src='assets/avatar2.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 09:00 - 10:45
                  .event-title.large-8 Planning
                  #panel4.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        /! Current event
        li
          .schedule-body
            .event-header
              .day
                | Evento Actual
              .title
                | Devops
            .content
              dl.accordion data-accordion=''
                dd.accordion-navigation
                  a href='#panel4'
                    img.avatar alt='avatar' height='60' src='assets/avatar4.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 08:00 - 08:30
                  .event-title.large-8 Welcome
                  #panel4.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                dd.accordion-navigation
                  a href='#panel5'
                    img.avatar alt='avatar' height='60' src='assets/avatar1.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 09:00 - 10:45
                  .event-title.large-8 Introduction Engineering
                  #panel5.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                dd.accordion-navigation
                  a href='#panel6'
                    img.avatar alt='avatar' height='60' src='assets/avatar2.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 13:00 - 14:30
                  .event-title.large-8 Product Management
                  #panel6.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        /! Upcoming Event
        li
          .schedule-body
            .event-header
              .day
                | Proximo Evento
              .title
                | Codificadas
            .content
              dl.accordion data-accordion=''
                dd.accordion-navigation
                  a href='#panel7'
                    img.avatar alt='avatar' height='60' src='assets/avatar3.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 08:00 - 08:30
                  .event-title.large-8 Prepare your Product
                  #panel7.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                dd.accordion-navigation
                  a href='#panel8'
                    img.avatar alt='avatar' height='60' src='assets/avatar4.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 09:00 - 10:45
                  .event-title.large-8 Promote your product
                  #panel8.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                dd.accordion-navigation
                  a href='#panel9'
                    img.avatar alt='avatar' height='60' src='assets/avatar1.jpg' width='60' /
                  .event-time.large-8
                    i.fa.fa-clock-o
                    | 13:00 - 14:30
                  .event-title.large-8 Sell your Product
                  #panel9.content
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
/! Mailing List
.mailinglist.widget-content
  .mailinglist_bg data-stellar-background-ratio='0.2' style=('background-image: url("assets/bg_mailinglist.jpg");')
  .row
    .columns.small-12.medium-12.large-4.envelope
      .join
        | Quieres recibir correos?:
    .columns.small-12.medium-12.large-8
      form
        input#name name='' placeholder='Name' type='text' /
        input#email name='' placeholder=('Email Adress') type='email' /
        button.btn-default Submit
/! Partners
#partners.partners.widget-content
  .row
    .columns.small-12.medium-12.large-12
      .center-content
        h2 Socios
        div
          ul.small-block-grid-1.medium-block-grid-2.large-block-grid-4
            /! First partner
            li
              a href='#'
                img alt=('Logo 1') height='85' src='assets/logo_1.jpg' width='200' /
            /! Second partner
            li
              a href='#'
                img alt=('Logo 2') height='85' src='assets/logo_2.jpg' width='200' /
            /! Third partner
            li
              a href='#'
                img alt=('Logo 3') height='85' src='assets/logo_3.jpg' width='200' /
            /! Forth partner
            li
              a href='#'
                img alt=('Logo 4') height='85' src='assets/logo_4.jpg' width='200' /
        /! View all Partners Button
        .view-all-partners
          a.btn-default href='partners.html'  CONOCE A NUESTROS SOCIOS
/! Contact us / Map
#location.maps
  #js-map
  .map-location
    h2 Lugar
    ul itemscope='' itemtype='http://schema.org/PostalAddress'
      li.title Direccion
      li itemprop='address'  Medellín # 187. Centro Colima.
      li.title Email
      li itemprop='email'  contacto@webdevtalks.mx
      li.title Numero Telefonico
      li itemprop='telephone'  (312) 000-0000
javascript:
  var wplMap = {Lat : 19.240635, Long:-103.729267};
  var wplMarker = {Lat : 19.240631, Long: -103.6000000};
/! Footer
.footer
  .footer_bg data-stellar-background-ratio='0.2' style=('background-image: url("assets/bg_buytikets.png");')
  .footer_widgets
    .row
      .columns.small-12.medium-4.large-4
        /! About us
        aside#Widget-text1.widget.widget_text
          h3 A cerca de
          .textwidget
            p Pellentesque nec rutrum orci. Duis molestie nisi quis molestie hendrerit. Pellentesque sagittis dapibus dapibus.
            p Donec in purus dignissim libero placerat lobortis. Proin gravida bibendum erat, ac imperdiet nulla cursus ac.
      /! Gallery Widget
      .columns.small-12.medium-4.large-4
        aside#gallery-1.widget.widget_gallery
          h3 Galeria
          .gallery_slider
            #owl-gallery.owl-carousel.owl-theme
              /! First Image
              .item
                img alt='image' height='240' src='assets/gallery_01.jpg' width='600' /
              /! Second Image
              .item
                img alt='image' height='240' src='assets/gallery_02.jpg' width='600' /
              /! Third Image
              .item
                img alt='image' height='240' src='assets/gallery_03.jpg' width='600' /
            /! Pagination
            .customNavigation
              a.btn.prev-gallery
                i.fa.fa-angle-left
              a.btn.next-gallery
                i.fa.fa-angle-right
  /! Copyright
  .footer_copyright
    .row
      .columns.small-12.medium-5.large-5
        | © Copyright
        a href='#'  webdevtalks.mx
        | Todos los derechos reservados.
      .columns.small-12.medium-7.large-7
        ul.inline-list.right
          li
            a href='#' Terminos y Condiciones

script src='https://maps.googleapis.com/maps/api/js?v=3.exp'
