.explosion-container {
	width: 400px;
	top: 50px;
	position: relative;
	margin: 0px auto;
}

.clipped-box {
	cursor: pointer;
	-webkit-transition: top 1.2s linear;
	transition: top 1.2s linear;	
}

.clipped-box div {
	z-index: 9999999;
	color: #fff;
	font-size: 1em;
	padding: 50px 20px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #4F9CC7;
}

.clipped-box div h1 {
	text-shadow: 2px 2px rgba(0,0,0,0.2);
}

.clipped-box, .clipped-box div {
	width: 400px;
	height: 200px;
	position: relative;
}

.clipped-box div {
	position: absolute;
	top: auto;
	left: 0;
	background: #3da3e1;
	-webkit-transition: -webkit-transform 1.4s ease-in, background 0.3s ease-in;
	transition: transform 1.4s ease-in, background 0.3s ease-in;
}
