/*	----------------------------------------------------------
	General Posts
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.title_blog_container {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

article {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 3em;
}
article a {
  color: #3da3e1;
}
article a:hover {
  color: #3da3e1;
  text-decoration: none;
}
article h1, article h2, article h3, article h4, article h5, article h6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3em;
  margin-top: 2em;
  color: #595959;
}
article h1 {
  font-size: 1.3em;
}
article h2 {
  font-size: 1.2em;
}
article h3 {
  font-size: 1.1em;
}
article h4 {
  font-size: 1em;
}
article h5 {
  font-size: 0.95em;
}
article h6 {
  font-size: 0.85em;
}

h1.title_blog {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 0em;
  color: #383838;
}

.entry-meta span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9em;
  color: #666666;
}
.entry-meta span a {
  color: #666666;
}
.entry-meta span a:hover {
  color: #3da3e1;
}
.entry-meta .date:after {
  content: " \2022 ";
}
.entry-meta .author:before {
  content: " \2022 ";
}

h1.entry-title {
  font-size: 3em;
  line-height: 1em;
  text-transform: initial;
  margin-top: 0em;
}
h1.entry-title a {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  font-size: .5em;
  color: #4d4d4d;
}
h1.entry-title a:hover {
  color: #3da3e1;
}

.entry-featured-image {
  padding: 1em 0;
}
.entry-featured-image img {
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 5px;
  -moz-background-clip: padding-box;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #e6e6e6;
}

.entry-excerpt p {
  font-weight: 400;
  font-size: 1.25em;
  color: #666666;
}

.entry-content p {
  font-weight: 400;
  font-size: 1em;
  color: #666666;
}

.entry-more {
  padding: 1em 0 3em 0;
}
.entry-more .btn-post-more {
  padding: 7px 20px;
}

/*	----------------------------------------------------------
	Share buttons
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.entry-share b {
  color: #4d4d4d;
}
.entry-share a {
  font-size: .9em;
  color: #666666;
  display: inline-block;
  position: relative;
  margin: 0 15px;
  font-size: 1em;
}
.entry-share a.twitter::before {
  content: "  \f099 ";
  color: #55acee;
}
.entry-share a.facebook::before {
  content: "  \f09a ";
  color: #3b5998;
}
.entry-share a.pinterest::before {
  content: "  \f0d2  ";
  color: #cb2027;
}
.entry-share a:hover {
  color: #3da3e1;
  text-decoration: none;
}
.entry-share a:before {
  margin: 0 10px;
  font-size: 1.3em;
  font-family: "FontAwesome";
}

/*	----------------------------------------------------------
	Singele Post
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.single_post article {
  border-bottom: none;
}

/*	----------------------------------------------------------
	Archive Posts
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.title_blog_container {
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

/*	----------------------------------------------------------
	Navigation Posts (next prev)
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.nav-posts {
  margin-bottom: 3em;
}
.nav-posts .nav-previous a:before {
  content: "\f100  ";
  font-family: "FontAwesome";
}
.nav-posts .nav-next a:after {
  content: "  \f101";
  font-family: "FontAwesome";
}
.nav-posts a {
  text-transform: uppercase;
  color: #999999;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
.nav-posts a:hover {
  color: #3da3e1;
}
.nav-posts.panel {
  border: none;
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
