/*	----------------------------------------------------------
	Breadcrumbs
= = = = = = = = = = = = = = = = = = = = = = = = = = = = = = */
.breadcrumbs {
  padding: 2em 0 .2em 0;
  border: none;
  background-color: transparent;
  margin-bottom: 0;
}
.breadcrumbs > * {
  font-size: .8em;
  line-height: 1.7em;
  text-transform: capitalize;
  color: #666666;
}
.breadcrumbs > *:before {
  content: ">";
}
.breadcrumbs > * a {
  color: #666666;
}
.breadcrumbs > * a:hover {
  color: #3da3e1;
  text-decoration: none;
}
.breadcrumbs > *.current {
  color: #b3b3b3;
}
.breadcrumbs > *.current a {
  color: #b3b3b3;
}
.breadcrumbs > *.current a:hover {
  color: #999999;
  text-decoration: none;
}
