/***************
 * Home Panel *
 ***************/

#story-home {
  color: #666;
  #logo {
    margin: 20px 0 50px 0;
  }
  h2 {
    font-family: "Caecilia-Roman", Verdana, sans-serif;
    font-size: 2em;
  }
  .story {
    width: 850px;
    padding-right: 0px;
  }
  p {
    width: 800px;
    font-size: 16px;
  }
  ul { padding: 0px; }
  ul li {
    font-size: 16px;
    margin: 16px 0;
  }
  .twitter-redirect {
    img { float: left; }
    p {
      padding: 17px;
      width: 177px;
    }
  }
}

/***************
 * Topic Panel *
 ***************/

#story-topics {
  color: #FFF;
  background: #022639;
  h2 {
    font-family: "Caecilia-Roman", Verdana, sans-serif;
    font-size: 2em;
  }
  .story {
    padding-right: 0px;
    width: 850px;
  }
  .logo {
    position: absolute;
    right: 0%;
    bottom: 30%;
    &.start {
      bottom: 170%;
    }
    &.end {
      bottom: -210%;
    }
  }
  p {
      font-size: 16px;
      width: 800px;
  }
  ul {
    padding: 0px;
    li {
      font-size: 16px;
      margin: 100px 0;
      .border-box{
        background: #fff;
        -webkit-border-radius: 9px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        float: left;
        height: 40px;
        color: #000;
        width: 40px;
        p {
          margin: 0px 11px;
          font-weight: bold;
        }
      }
      P {
        font-size: 30px;
        margin-left: 55px;
        position: relative;
        top: 8px;
      }
      a {
        margin: 17px;
        position: relative;
        top: 8px;
      }
    }
  }
}

/*********************
 * About panel *
 *********************/

#story-about {
  color: #CCC;
  background: #000;
  .bg {
    left: auto;
    right: 0px;
  }
}

/**************
 * Cfp Panel *
 **************/

#story-cfp {
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
  background: #C9BC33;
  h2 {
    font-family: "Caecilia-Roman", Verdana, sans-serif;
    font-size: 2em;
  }
  h3 {
    margin-bottom: 20px;
    font-size: 20px;
  }
  .story {
    width: 850px;
    padding-right: 0px;
  }
}

/**************
 * Speakers Panel *
 **************/

#story-speakers {
  color: #CCC;
  background: #000;
  h2 {
    font-family: "Caecilia-Roman", Verdana, sans-serif;
    font-size: 2em;
  }
  .box {
    background: #000;
    opacity: .7;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    right: 440px;
    bottom: -10px;
    left: -10px;
    z-index: -1;
    width: 960px;
    height: 300px;
  }
  .speakers {
    width: 900px;
  }
  .border-box-big {
    background: #4A4343;
    border: 8px solid #fff;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    float: left;
    height: 175px;
    margin-right: 15px;
    width: 154px;
    margin-left: 40px;
    p {
      font-weight: bold;
      left: 4px;
      position: relative;
      text-shadow: 2px 2px 2px #474747;
      top: 75px;
      font-size: 21px;
    }
  }
  ul {
    &.slide {
      display: block;
      position: absolute;
      white-space: nowrap;
      left: -1426px;
      &.start {
        left: -1425px;
      }
      li {
        display: inline;
      }
    }
    &.slide-1.start, &.slide-2.start, &.slide-3.start {
      opacity: 0;
    }
    &.slide-1 {
      bottom: 0px;
    }
    &.slide-2 {
      bottom: 176px;
      left: -1425px;
      &.to {
        bottom: 176px;
        left: -1425px;
      }
      &.start {
        left: -1426px;
      }
    }
    &.slide-3 {
      bottom: 352px;
    }
    &.slide-1.to, &.slide-3.to {
      left: -1425px;
    }
    &.slide-1.end {
      right: 0px;
      left: auto;
    }
    &.slide-3.end {
      right: 1200px;
      left: auto;
    }
    &.slide-2 {
      &.to {
        right: 0px;
      }
      &.end {
        left: 200px;
      }
    }
  }
}

/***************
 * Contact Panel *
 ***************/

#story-contact {
  h2 {
    font-family: "Caecilia-Roman", Verdana, sans-serif;
    font-size: 2em;
    float: left;
  }
  .story {
    width: 850px;
    padding-right: 0px;
  }
  p {
    float: left;
    font-size: 30px;
    position: relative;
    text-align: center;
    top: 255px;
    width: 800px;
  }
  .copyright {
    margin-left: 240px;
    position: relative;
    top: 200px;
  }
  a {
    font-size: 40px;
    position: relative;
    top: 18px;
  }
}

