ul#nav {
  position: fixed;
  left: 5%;
  top: 20%;
  z-index: 999;
  li {
    height: 20px;
    position: relative;
  }
  a {
    display: block;
    width: 20px;
    height: 20px;
    background: url('grey-dot.png') 0 100% no-repeat;
    text-indent: -9000px;
    overflow: hidden;
    outline: none;
    &:hover {
      background: url('grey-pink-dot.png') 0 100% no-repeat;
    }
  }
}

nav#main li.active a {
  background: url('grey-pink-dot.png') 0 100% no-repeat;
}

ul#nav {
  h1 {
    display: none;
    opacity: 0;
    position: absolute;
    left: 15px;
    top: 0px;
    white-space: nowrap;
    padding: 0 0 0 18px;
    background: url('menu-arrow.png') 0 50% no-repeat;
    overflow: hidden;
    margin: 0;
    font-size: 16px;
  }
  span {
    display: block;
    background: url('menu-bg.png') repeat-x;
    color: #FFF;
    padding: 4px 8px;
    white-space: nowrap;
    -moz-border-radius: 10px;
    border-radius: 10px;
  }
}

#fancybox-left #fancybox-left-ico {
  left: -40px;
}

#fancybox-right #fancybox-right-ico {
  left: auto;
  right: -40px;
}

.video-js-box.vjs-fullscreen {
  height: auto !important;
}
