html {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: aliased;
}

body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.nopadding {
  padding: 0 !important;
}

.nopaddingr {
  padding-right: 0 !important;
}

.nopaddingl {
  padding-left: 0 !important;
}

.nopaddingt {
  padding-top: 0 !important;
}

.nopaddingb {
  padding-bottom: 0 !important;
}

.center-content {
  text-align: center;
}
